<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
		<title>Connect Play!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
</head>
</head>
<body>
	{{{ body }}}
</body>

</html>