li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

h1 {
	text-align: center;
	font-family: 'Righteous', cursive;
	color: rgb(22, 180, 233);
}
h2 {
	font-size: 15px;
	font-family: 'Righteous', cursive;
	text-align: center;
}

h3{
  font-size: 10px;
  font-family: 'Righteous', cursive;
  text-align: center;
}
#signIn, #user_info {
  background-color: azure; 
  opacity: 0.85;
  padding: 30px
}
h2{
  font-size: 15px;
  font-family: 'Righteous', cursive;
  text-align: center;
}
#signIn, #user_info {
  background-color: azure; 
  opacity: 0.85;
  padding: 30px
}
body {
	background-image: url("connectplay background.jpg");
	background-repeat: no-repeat;
}
#formText {
	background-color: azure;
	opacity: 0.85;
	padding: 20px;
}
footer{
  text-align: center;
  color: azure;
  padding: 25px;
}